:root {
    --primary-color: #A6F0C6;
    --secondary-color: #4E3D53;
    --tertiary-color: #A98B98;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0F1123;
    color: var(--primary-color)
}

header {
    margin: 0;
    padding: 0;
    background-color: #0F1123;
}

.search-box {
    background-color: #0F1123;
    border-radius: 20px;
    border-color: var(--secondary-color);
}

.search-box::placeholder {
    color: var(--tertiary-color);
}

.search-box:focus {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

header h1 {
    color: var(--tertiary-color);
    font-family: 'Monoton', cursive;
    font-size: 72px;
    font-weight: lighter;
    margin-bottom: 0;
    margin-left: 20px;
    padding: 5px;
    text-shadow: 3px 4px var(--primary-color);
}

.price-checker h2 {
    font-style: bolder;
    font-size: 3rem;
}



.search-container {
    /* border: 1px solid var(--tertiary-color); */
    border-radius: 20px;
    padding: 20px;
    margin: 0 20px 0 20px;
    box-shadow: 4px 4px var(--secondary-color);
    
}

.search-container p {
    font-size: 20px;
    color: var(--tertiary-color);
}

.crypto-search {
    
}
.user-wallet {
    border-left: .5px solid var(--tertiary-color);
}

.search-btn {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 25%;
    height: 3rem;
    border-radius: 20px;
}

.search-btn:hover {
    transform: translateY(4px);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.trend-container {
    /* border: 2px solid var(--tertiary-color); */
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
    box-shadow: 4px 4px var(--secondary-color);
}

.search-results h4 {
    color: var(--primary-color);
    font-family: 'Pacifico', cursive;
    font-size: 54px;
    margin-bottom: 0;
    margin-left: 20px;
    padding: 5px;
    text-shadow: 4px 4px var(--tertiary-color);
}
