:root {
    --primary-color: #A6F0C6;
    --secondary-color: #4E3D53;
    --tertiary-color: #A98B98;
}

* {
    padding: 0;
    margin: 0;
    background-color: #0F1123;
    color: var(--primary-color)
}

header {
    margin: 0;
    padding: 0;
    background-color: #0F1123;
    width: -webkit-fill-available;
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
}

.search-box {
    background-color: #0F1123;
    border-radius: 20px;
    border-color: var(--secondary-color);
    text-align: center;
    font-family: sans-serif;
}

.search-box::placeholder {
    color: var(--tertiary-color);
}

.search-box:focus {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.header h1 {
    color: var(--tertiary-color);
    font-family: 'Monoton';
    font-size: 72px;
    font-weight: lighter;
    margin-bottom: 0;
    margin-left: 20px;
    padding: 5px;
    text-shadow: 3px 4px var(--primary-color);
    text-shadow: none;
}

.price-checker h2 {
    font-style: bolder;
    font-size: 3rem;
    text-align: center;
}

.price-tracker {
    border: 2px solid var(--tertiary-color);
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
    box-shadow: 4px 4px var(--secondary-color);
}

.trending {
    border: 2px solid var(--tertiary-color);
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
    box-shadow: 4px 4px var(--secondary-color);
}

.price-checker h2 {
    font-style: bolder;
    font-size: 3rem;
}



.search-container {
    border: 1px solid var(--tertiary-color); 
    border-radius: 20px;
    padding: 20px;
    margin: 0 20px 0 20px;
    box-shadow: 4px 4px var(--secondary-color);
    
}

.search-container p {
    font-size: 20px;
    color: var(--tertiary-color);
    text-align: center;
    margin: 0 10px;
    font-family: sans-serif;
}

.user-wallet {
    border-left: .5px solid var(--tertiary-color);
    display: flex; /* test */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 20px;
}

.search-btn {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: -webkit-fill-available;
    height: 3rem;
    border-radius: 20px;
    margin: 0 auto;
}

.search-btn:hover {
    transform: translateY(4px);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}


.search-results h4,
.pop-up-div h4 {
    color: var(--primary-color);
    font-family: 'Pacifico', cursive;
    font-size: 54px;
    margin-bottom: 0;
    margin-left: 20px;
    padding: 5px;
    text-shadow: 4px 4px var(--tertiary-color);
}
.pop-up-p3 {
    border: 2px solid var(--tertiary-color);
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
    box-shadow: 4px 4px var(--secondary-color);
    text-align: center;
    font-family: sans-serif;
}

 

.accounts-overview {
    
    justify-content: space-evenly;
}

.crypto-owned {
    border-left: .5px solid var(--tertiary-color);
    text-align: center;
}

.crypto-owned h2 {
    margin-left: auto;
    margin-right: auto;
}

.wallet-value h2 {
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
}
 





@-webkit-keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.10)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.10)}30.6%{opacity:0;text-shadow:none}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.10)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.10)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.10)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.10),0 0 110px rgba(255,255,255,.10),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.10),0 0 110px rgba(255,255,255,.10),0 0 100px rgba(255,255,255,.1)}}@keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.10)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.10)}30.6%{opacity:0;text-shadow:none}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.10)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.10)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.10)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.10),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.10),0 0 110px rgba(255,255,255,.10),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.10),0 0 110px rgba(255,255,255,.10),0 0 100px rgba(255,255,255,.1)}}

  

/*falling currency test*/
footer {
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

section{
    height:25rem;
    width:100%;
    position:absolute ;  
    background:radial-gradient(#333,#000);
    display: flex;
    flex-wrap: nowrap;
    box-sizing: content-box;
}
    
.coin{
    position:absolute ;
    width:100%;
    height:100%;
    top:0;
    left:0;
    overflow: hidden;
}
    
.coin div{
    position:absolute ;
    display:block ;
    overflow: hidden;
}
    
.coin div:nth-child(1){ 
    animation:fall 15s linear infinite ;
    animation-delay:-2s;
}
    
.coin div:nth-child(2){
    left:70%; 
    animation:fall 15s linear infinite ;
    animation-delay:-4s;
    animation-timing-function: linear;
}

.coin div:nth-child(3){
    left:10%; 
    animation:fall 20s linear infinite ;
    animation-delay:-7s;
}
    
.coin div:nth-child(4){
    left:50%; 
    animation:fall 18s linear infinite ; 
    animation-delay:-5s;
}
    
.coin div:nth-child(5){
    left:85%; 
    animation:fall 14s linear infinite ;
    animation-delay:-5s;
}
    
.coin div:nth-child(6){
    left:15%; 
    animation:fall 16s linear infinite ;
    animation-delay:-10s;
}
    
.coin div:nth-child(7){
    left:90%; 
    animation:fall 15s linear infinite ;
    animation-delay:-4s;
}
 
 
@keyframes fall{
0% {
 opacity:1;
 top:-10%;
 transform:translateX (20px) rotate(0deg);
}


20%{
 opacity:0.8;
 transform:translateX (-20px) rotate(45deg);
}
        
40%{
 transform:translateX (-20px) rotate(90deg);
}
        
60%{
 transform:translateX (-20px) rotate(135deg); 
}
        
80%{
 transform:translateX (-20px) rotate(180deg);
}
        
100%{
 top:110%;
 transform:translateX (-20px) rotate(225deg);
}
}

.trending-container {
    margin: 0;
    padding: 0;
    
}

.trending h2 {
    margin-bottom: 0;
    text-align:left;

}

.trending-container {
    margin: 0;
}

